.paymentAbleFood {
    box-shadow: 2px 2px 15px 5px lightblue;
    transition-duration: 500ms;
    background-size: 100%;
    background-repeat: repeat;
}

.paymentAbleFood:hover {
    box-shadow: 2px 2px 15px 5px lightblue;
    transition-duration: 500ms;
    background-size: 100%;
    background-repeat: repeat;
}


.userToggleCard {
    box-shadow: 2px 2px 15px 5px aliceblue;
    background-size: 100%;
    background-repeat: repeat;
    border-radius: 10px;
    transition-duration: 250ms;
}

.userToggleCard:hover {
    box-shadow: 2px 2px 15px 5px orange;
    background-size: 100%;
    background-repeat: repeat;
    border-radius: 10px;
    transition-duration: 250ms;
}



.userUpdateCard {
    box-shadow: 2px 2px 15px 5px orange;
    background-size: 100%;
    background-repeat: repeat;
    border-radius: 10px;
    transition-duration: 250ms;
    height: 525px;
}

.userUpdateCard:hover {
    box-shadow: 2px 2px 15px 5px aliceblue;
    background-size: 100%;
    background-repeat: repeat;
    border-radius: 10px;
    transition-duration: 250ms;
    height:525px;
}

.selectProject option{
    padding: 3px;
}

.selectProject option:before{
    content: "\2610";
  margin-right: 5px;
}

.selectProject option:checked:before {
    content: "\2611";
  }

  .adminCard{
    background-size: 100%;
    background-repeat: repeat;
    transition-duration: 250ms;
  }

  .adminCard:hover{
    box-shadow: 2px 2px 15px 5px orangered;
    background-size: 100%;
    background-repeat: repeat;
    transition-duration: 250ms;
  }

  .pageBorder{
    border-top: 30px solid rgb(243, 243, 6);
    border-right: 30px solid rgb(243, 243, 6);
    border-bottom: 30px solid rgb(243, 243, 6);
    border-left: 30px solid rgb(243, 243, 6);
    padding: 5px;
  }

  .invoiceAndDate{
    border: 1px solid black;
    color: black;
  }

  .dueShow{
    border: 2px solid rgba(255, 0, 0, 0.51);
    padding: 10px;
    border-radius: 5px;
    width: 130px;
    background-color: aliceblue;
  }

  .download{
    padding: 5px;
    transition: transform 0.5s ease;
    transition-duration: 500ms;
  }

  .download:hover{
    border-radius: 2px;
    transform: scale(1.1);
    transition-duration: 500ms;
  }